<div class="main-ctrl">
  <div class="title">
    <h1 ui-sref="root.default">"kcd" Angular Module</h1>
    <h2><small>Angular things I made and think are useful.</small></h2>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Angular Things</h3>
      <div ng-repeat="group in ::angularThings">
        <h4 class="group-label" popover="{{group.popover}}" popover-trigger="mouseenter" popover-placement="right">{{::group.name}}</h4>
        <ul>
          <li ng-repeat="thing in group.things">
            <a ui-sref="root.thing({thing: thing.name})">{{::thing.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 col-sm-9 things-view-container">
      <div ui-view></div>
    </div>
  </div>
</div>