.thing-view
  pre
    word-break normal
    word-wrap normal
    code
      white-space pre
      word-wrap normal
  #mocha
    margin 0
    ul
      position inherit
      top 0
      right 0
      &#mocha-stats .progress
        float left
        height 40px
        background-color rgba(0, 0, 0, 0)
        border-radius 50%
    .test a.replay
      display none