.thing-view
  .section-title
    position relative
    padding-left 24px
    margin-left -24px
    &:hover
      .fa-link
        display inline
    .fa-link
      display none
      color #000
      text-decoration none
      position absolute
      left 0
      top 6px
      font-size 20px
      &:hover
        color #666
  pre
    word-break normal
    word-wrap normal
    code
      white-space pre
      word-wrap normal
  #mocha
    margin 0
    ul
      position inherit
      top 0
      right 0
      &#mocha-stats .progress
        float left
        height 40px
        background-color rgba(0, 0, 0, 0)
        border-radius 50%
    .test a.replay
      display none