#wrap
  margin 0 24px -40px;
  min-height: 100%;
  height: auto !important;

#footer
  background-color #F5F5F5
  height 40px
  text-align center
  padding 10px
  width 100%

.popover
  width 400px

a
  cursor pointer

*
  outline none